{% load staticfiles %}
{% load main_gravatar %}
{% load main_index %}
<div class="card hovercard">
	<div class="cardheader" style='{% get_style fraction=user.fraction %}'>

	</div>
	<div class="avatar">
		{% gavar_img email=user.email fraction=user.fraction %}
	</div>
	<div class="info">
		<div class="title">
			<a target="_blank" href="">{{ user.name }}</a>
		</div>
		<div class="desc"><strong>Rank: </strong>{{ user.rank }}</div>
		<div class="desc"><strong>Class: </strong>High Shaman</div>
		<div class="desc"><strong>Email: </strong><a href="">{{ user.email }}</a></div>
	</div>
	<!-- <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div> -->
</div>
