{% extends "__base.html" %} {% block content %} {% load bootstrap3 %}

<div class="page-header">
    <h1><p class="text-center">Register Today!</p></h1>
</div>
<div class="row content">

    <form id="user_form" accept-charset="UTF-8" action="{% url 'register' %}" class="form-stacked" method="post">

        <div class="col-sm-4 sidenav">
            <div class="cc-selector">
                <input id="alliance" type="radio" name="fraction" value="alliance">
                <label class="drinkcard-cc alliance" for="alliance"></label>
            </div>
        </div>

        <div class="col-sm-4">
            {% csrf_token %} {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a>
                <div class="errors">
                    {% for field in form.visible_fields %} {% for error in field.errors %} {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% for field in form.visible_fields %} {% bootstrap_field field set_required=True %} {% endfor %}

            <div id="change-card" class="clearfix" {% if not form.last_4_digits.value %} style="display: none" {% endif %}>
                Card
                <div class="input">
                    Using card ending with {{ form.last_4_digits.value }} (
                    <a href="#">change</a>)
                </div>
            </div>

            {% include "payments/_cardform.html" %}

            <div class="actions">
                <input class="btn primary" id="user_submit" name="commit" type="submit" value="Register">
            </div>
        </div>

        <div class="col-sm-4 sidenav">
            <div class="cc-selector">
                <input id="horde" type="radio" name="fraction" value="horde">

                <label class="drinkcard-cc horde" for="horde"></label>
            </div>
        </div>

    </form>
</div>
{% endblock %}
